<div class="eqLogic eqLogic-widget digiaction allowResize allowReorderCmd #custom_layout# #eqLogic_class#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
    style="width: #width#;height: #height#;#style#" data-translate-category="#translate_category#"
    data-category="#category#" data-tags="#tags#">
    <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span
                class="object_name">#object_name# ici</span></a></center>

    <div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="default"
        data-cmd_id="#digimessage_id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#"
        style="padding-bottom: 20px;">
        <div class="digiMessage">
        </div>
        <script>
            jeedom.cmd.addUpdateFunction('#digimessage_id#', function (_options) {
                var cmd = $('.cmd[data-cmd_id=#digimessage_id#]');
                cmd.find('.digiMessage').empty().append(_options.display_value);
                if (parseInt('#countdown#') != -1) {
                    setTimeout(function () {
                        cmd.find('.digiMessage').empty();
                    }, parseInt('#countdown#'));
                }
            });
            jeedom.cmd.refreshValue([{ cmd_id: '#digimessage_id#', display_value: '#digimessage#' }])
        </script>
    </div>

    <div class="digiactionMainPanel digiactionPanelMode">
        <div>
            <ul class="digiactionDisplay">
                #modeAvailable#
            </ul>
        </div>
    </div>


    <div class="digiActionHideDefault digiactionMainPanel digiactionPanelTimer">
        <ul>
            <div>
                <li class="digiActionCountDownTimer digiActionNoBg"></li>
            </div>
            <div>
                <li class="digiActionCancel digiFunctionTimerCancel digiActionBgRed">Annuler</li>
            </div>
        </ul>
    </div>
    <div class="digiActionHideDefault digiactionMainPanel digiactionPanelKeyboard" data-randomkeys="#randomkeys#">
        <ul class="digiActionKeyPressed"></ul>
        <ul class="digiactionPanel digiActionCircle">
        </ul>
    </div>


</div>

<!--
<script>
    $.include([ 'plugins/digiaction/core/template/dashboard/js/dashboard.digiaction.js',
    'plugins/digiaction/core/template/dashboard/css/digiaction.css'
    ]);
</script>
-->

<script src="plugins/digiaction/core/template/dashboard/js/dashboard.digiaction.js"></script>
<link rel="stylesheet" href="plugins/digiaction/core/template/dashboard/css/digiaction.css" />
