<div class="digiActionHideDefault digiactionMainPanel digiactionPanelKeyboard ">
    <ul class="digiActionKeyPressed"></ul>
    <ul class="digiactionPanel digiActionCircle">
        <div>
            <li class="digiKeyboard">1</li>
            <li class="digiKeyboard">2</li>
            <li class="digiKeyboard">3</li>
        </div>
        <div>
            <li class="digiKeyboard">4</li>
            <li class="digiKeyboard">5</li>
            <li class="digiKeyboard">6</li>
        </div>
        <div>
            <li class="digiKeyboard">7</li>
            <li class="digiKeyboard">8</li>
            <li class="digiKeyboard">9</li>
        </div>
        <div>
            <li class="digiKeyboard">A</li>
            <li class="digiKeyboard">0</li>
            <li class="digiKeyboard">B</li>
        </div>
        <div>
            <li class="digiFunction digiFunctionValidate digiActionBgGreen">V</li>
            <li class="digiReset digiActionBgYellow">RAZ</li>
            <li class="digiFunction digiFunctionCancel digiActionBgRed">A</li>
        </div>
    </ul>
</div>